src/by/dimalix92/book2/task9_2/test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"

           elementFormDefault="qualified">
    <xs:complexType name="PointList">
        <xs:sequence>
            <xs:element name="point" type="Point" minOccurs="0" maxOccurs="unbounded"/>

        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Point">
        <xs:sequence>

            <xs:element name="x" type="xs:int"/>
            <xs:element name="y" type="xs:int"/>

        </xs:sequence>
    </xs:complexType>
    <xs:element name="pointsList" type="PointList"/>
</xs:schema>